flows.json
[{"id":"e9d700d7.d2729","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"f13a1945.848578","type":"ibmiot in","z":"e9d700d7.d2729","authentication":"apiKey","apiKey":"41abb61.2bc9a48","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"nodemcu","applicationId":"","deviceType":"","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":50,"y":260,"wires":[["9a7c1a0d.b308a8","2988e315.4abaec","23862627.34a9ba"]]},{"id":"6b594a63.d6fe64","type":"debug","z":"e9d700d7.d2729","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":260,"wires":[]},{"id":"9a7c1a0d.b308a8","type":"function","z":"e9d700d7.d2729","name":"Temperature","func":"msg.payload = msg.payload.d.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":380,"wires":[["6b594a63.d6fe64","cdc44767.566908"]]},{"id":"2988e315.4abaec","type":"function","z":"e9d700d7.d2729","name":"Humidity","func":"msg.payload = msg.payload.d.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":120,"wires":[["6b594a63.d6fe64","55e8a6e4.666b48"]]},{"id":"55e8a6e4.666b48","type":"ui_gauge","z":"e9d700d7.d2729","name":"Humidity","group":"b9915145.59654","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#0080ff","#80ff00","#ff0000"],"seg1":"","seg2":"","x":560,"y":120,"wires":[]},{"id":"cdc44767.566908","type":"ui_gauge","z":"e9d700d7.d2729","name":"Temperature","group":"805a6fbe.917b1","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Celsius","format":"{{value}}","min":"-100","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":440,"wires":[]},{"id":"23862627.34a9ba","type":"function","z":"e9d700d7.d2729","name":"Soil Moisture","func":"msg.payload = msg.payload.d.objTemp;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":260,"wires":[["6b594a63.d6fe64","ce65345e.f097c8"]]},{"id":"ce65345e.f097c8","type":"ui_gauge","z":"e9d700d7.d2729","name":"","group":"eafdec35.27f9f","order":6,"width":0,"height":0,"gtype":"gage","title":"Soil Moisture","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":340,"wires":[]},{"id":"a71df6be.243048","type":"inject","z":"e9d700d7.d2729","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"5","x":90,"y":460,"wires":[["6656f514.7d879c"]]},{"id":"6656f514.7d879c","type":"http request","z":"e9d700d7.d2729","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Rajkot,   IN&appid=af08958696092557a31e73e353be0d70","tls":"","persist":false,"proxy":"","authType":"","x":340,"y":520,"wires":[["6b594a63.d6fe64"]]},{"id":"d770d83.820e128","type":"ui_button","z":"e9d700d7.d2729","name":"","group":"744e8fe0.7a8f","order":2,"width":0,"height":0,"passthru":false,"label":"Motor On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":180,"y":580,"wires":[["af3e84c0.3d1358","6b594a63.d6fe64"]]},{"id":"fdbfd990.a24648","type":"ui_button","z":"e9d700d7.d2729","name":"","group":"744e8fe0.7a8f","order":3,"width":0,"height":0,"passthru":false,"label":"Motor Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":180,"y":680,"wires":[["af3e84c0.3d1358","6b594a63.d6fe64"]]},{"id":"af3e84c0.3d1358","type":"ibmiot out","z":"e9d700d7.d2729","authentication":"apiKey","apiKey":"41abb61.2bc9a48","outputType":"cmd","deviceId":"nodemcu","deviceType":"NodeMCU","eventCommandType":"command","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":520,"y":640,"wires":[]},{"id":"41abb61.2bc9a48","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"b9915145.59654","type":"ui_group","z":"","name":"Smart Agriculture Humidity","tab":"227250fa.d7bd","order":1,"disp":true,"width":"6","collapse":true},{"id":"805a6fbe.917b1","type":"ui_group","z":"","name":"Smart Agriculture Temperature","tab":"227250fa.d7bd","order":3,"disp":true,"width":"6","collapse":true},{"id":"eafdec35.27f9f","type":"ui_group","z":"","name":"Smart Agriculture Soil Moisture","tab":"227250fa.d7bd","order":2,"disp":true,"width":"6","collapse":true},{"id":"744e8fe0.7a8f","type":"ui_group","z":"","name":"Motor Commands","tab":"227250fa.d7bd","order":4,"disp":true,"width":"6","collapse":true},{"id":"227250fa.d7bd","type":"ui_tab","z":"","name":"IoT","icon":"dashboard","disabled":false,"hidden":false}]